<div class="page-header">
	<h1>Listing events</h1>	
</div>

<% @events.each do |event| %>
<div class="row">
	
	<div class="span6">
		<ul class="media-grid">
	        <li>
	          <%= link_to (image_tag event.photo.url(:large), :class => "thumbnail"), event.photo.url %>
	        </li>
		</ul>
	</div>
	
	<div class="span10">
		
		<h2><%= link_to event.name, event %></h2>
		<p><%= event.purpose %></p>
		<p><%= event.description %></p>
		<%= link_to 'Show', event %>
		<%= link_to 'Edit', edit_event_path(event) %>
		<%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
	</div>
	
</div>
<% end %>

<%= link_to 'New Event', new_event_path, :class => "btn primary" %>
